.App {
  text-align: center;
}
.buttonContainer {
  background-color: #f4f3ef;
  padding: 15px;
}
.content {
  padding: 10px 20px 10px 20px;
}
.graphContent {
  width: 80%;
  margin: auto;
  border: 1px solid green;
  padding: 15px 30px;
}
